body {
    text-align: center;
    background-image: url("./geometry.png");
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 70px;
    margin: 0.6em;
}
.one{
    color: #bcbcff;
}
.two{
    color: #9494d2;
}
.three{
    color: #7676d0;
}
h2 {
    margin: 1em 0 0.75em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table, tr, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

input[type=number]:invalid {
    outline-color: red;
    border: solid 1px red;
}
